<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <form method="POST">
        <input type="text" placeholder = "username" name="username" id = "input-username">
        <input type="password" placeholder = "password" name="password" id = "input-password">
        <button id = "btn-login"type="button">Login</button>
    </form>
    <div class = "container-information">

    </div>
    <script src = "/controllers/loginControllers.js"></script>
</body>
</html>