<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my application</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1>my application</h1>
    <p>this appliaction is a crud appliaction that use session and auth for routes, is only a test for all that i could do with express</p>
    <%- include('../partials/footer') %>
</body>
</html>
