<tr class = "row-product" data-set-code-r>
    <td><%=items.name_product%></td>
    <td><%=items.cantidad%></td>
    <td><%=items.tipo%></td>
    <td><%=items.precioUnitario%></td>
    <td class ="part-check"> 
        <input data-added  data-code type="checkbox" class="chk-order" name = "chk-order">
    </td>
    <td class = "quantity-product-column">
        <input id  ="anid" type="number" class= "quantity-product" name = "quantity-product" value = "0"  min = "0" disabled>
    </td>
</tr>
